<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>

<!--Menu-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'base' %}">MusicShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'base' %}">Home</a>
                </li>
                {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration' %}">Registration</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account' %}">Personal Area</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Notifications <i class="fas fa-bell"></i>
                        <span class="badge bg-{% if notifications.count %}danger{% else %}secondary{% endif %}">
                            {{ notifications.count }}
                        </span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if notifications %}
                        {% for n in notifications %}
                        <li><span class="dropdown-item">{{ n.text|safe }}</span></li>
                        {% endfor %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a href="{% url 'clear-notifications' %}" class="dropdown-item">Mark all as read</a></li>
                        {% else %}
                        <li><a href="#" class="dropdown-item">No new notifications</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{% url 'cart' %}" class="nav-link"><i class="fas fa-shopping-cart"></i>
                    <span class="badge bg-danger">{{ cart.products.count }}</span></a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="card col-md-2 p-0 mb-3 mt-3">
                <h6 class="text-center">The hit of sales of the current month</h6>
                <a href="{{ month_bestseller.get_absolute_url }}">{{ month_bestseller.name}}</a>
                <img src="{{ month_bestseller.image.url }}" class="card-img-top">
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            {% for album in albums %}
            <div class="card col-md-3 p-0 mb-3 mt-3">
                <img src="{{ album.image.url }}" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="{{ album.artist.get_absolute_url }}" class="text-decoration-none">
                        {{ album.artist.name}}
                    </a></h5>
                    <h5 class="card-title"><a href="{{ album.get_absolute_url }}" class="text-decoration-none">
                        {{ album.name}}
                    </a></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Carrier: <strong>{{ album.media_type.name }}</strong></li>
                    <li class="list-group-item">Release date: <strong>{{ album.release_date|date:"d-m-Y" }}</strong>
                    </li>
                    <li class="list-group-item">Genre: <strong>{{ album.artist.genre.name }}</strong></li>
                    <li class="list-group-item">

                        Availability: {% if album.stock %}<strong class="badge bg-success">
                        {{ album.stock }} pcs.
                    </strong>{% else %}
                        <strong class="badge bg-danger">0</strong>
                        {% endif %}
                    </li>
                </ul>
                <div class="card-body text-center">
                    {% if request.user.is_authenticated %}
                    {% if album.stock %}
                    {% if album not in cart.products_in_cart %}
                    <a href="{% url 'add_to_cart' ct_model=album.ct_model slug=album.slug %}">
                        <button class="btn btn-primary">
                            Add to cart
                        </button>
                    </a>
                    {% else %}
                    <a href="#" class="btn btn-default" disabled="">
                        <button class="btn btn-primary">
                            Added to cart
                        </button>
                    </a>
                    {% endif %}
                    {% else %}
                    {% if album not in request.user.customer.wishlist.all %}
                    <a href="{% url 'add_to_wishlist' album_id=album.id %}" class="btn btn-warning">
                        Add to expected
                    </a>
                    {% else %}
                    <a href="#" class="btn btn-default" disabled="">Added to expected</a>
                    {% endif %}
                    {% endif %}
                    {% else %}
                    <a href="#" class="btn btn-default" disabled="">
                        Log in or register, only authorized users
                        they can carry out orders.
                    </a>
                    {% endif %}
                    <div class=" me-auto my-0">Price: <strong>{{ album.price}}</strong></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock content %}
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</html>