{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<h3 class="text-center mt-5 mb-5 text-warning">Making an order</h3>
<table class="table text-center">
    <thead>
    <tr>
        <th scope="col" class="text-warning">Name</th>
        <th scope="col" class="text-warning">Image</th>
        <th scope="col" class="text-warning">Price</th>
        <th scope="col" class="text-warning">Quantity</th>
        <th scope="col" class="text-warning">Total price</th>
    </tr>
    </thead>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
  <tbody>

    {% for item in cart.products.all %}
    <tr>
        <th scope="row" class="text-warning">{{ item.display_name }}</th>
        <td class="w-25"><img src="{{ item.content_object.image.url }}" class="img-fluid"></td>
        <td class="text-warning">$ {{ item.content_object.price }}</td>
        <td class="text-warning">
            {{ item.qty }} pcs.
        </td>
        <td class="text-warning">$ {{ item.final_price }}</td>

    </tr>
    {% endfor %}
    <tr>
        <td colspan="2"></td>
        <td class="text-warning">Total:</td>
        <td class="text-warning">{{ cart.total_products }}</td>
        <td class="text-warning">$ {{ cart.final_price }}</td>
    </tr>
    </tbody>
</table>
<h3 class="text-center mt-5 mb-5 text-warning">Order Form</h3>
<form action="{% url 'make-order' %}" method="POST">
    {% csrf_token%}
    {{ form|crispy }}
    <input type="submit" class="btn btn-success btn-block mb-3" value="Checkout">
</form>
{% endblock content %}