{% extends 'base.html' %}

{% block content %}
    <div class="col-md-12 pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'base' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'artist_detail' artist_slug=album.artist.slug %}">
                        {{ album.artist.name }}
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    {{ album.name }}({{ album.media_type.name }})
                </li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-4">
                <img src="{{ album.image.url }}" class="img-fluid">
            </div>

            <div class="col-md-8">
                <div class="col-md-8">
                    <h4>{{ album.artist.name }} - {{ album.name }}</h4>
                    <hr>
                    <p>Release date: {{ album.release_date|date:"d-m-Y" }}</p>
                    <p>Genre: {{ album.artist.genre.name }}</p>
                    <p>Description: {{ album.description }}</p>
                    <p>Availability: {% if album.stock %} <strong class="badge bg-success">
                        Available in stock - {{ album.stock }} шт.
                    </strong>
                    {% else %}
                    <strong class="badge dg-danger">Out of stock</strong>{% endif %}
                    </p>
                    <div class="text-left">
                    {% if request.user.is_authenticated %}
                    {% if album.stock %}
                    {% if album not in cart.products_in_cart %}
                    <a href="{% url 'add_to_cart' ct_model=album.ct_model slug=album.slug %}">
                        <button class="btn btn-primary">
                            Add to cart
                        </button>

                    </a>
                    {% else %}
                    <a href="#" class="btn-default" disabled="">
                        <button class="btn btn-primary">
                            Added to cart
                        </button>
                    </a>
                    {% endif %}
                    {% else %}
                    {% if album not in request.user.customer.wishlist.all %}
                    <a href="{% url 'add_to_wishlist' album_id=album.id %}" class="btn btn-warning">
                        Add to expected
                    </a>
                    {% else %}
                    <a href="#" class="btn btn-default" disabled="">Added to expected</a>
                    {% endif %}
                    {% endif %}
                    {% else %}
                    <a href="#" class="btn btn-default" disabled="">
                        Log in or register, only authorized users
                        they can carry out orders.
                    </a>
                    {% endif %}
                    <div class=" me-auto my-0">Price: <strong>{{ album.price}}</strong></div>
                </div>
                </div>
            </div>
        </div>
    </div>

  <h5 class="mt-3">Image Gallery</h5>
    <div class="row">
        {% for item in album.image_gallery.all %}
        <div class="col-lg-2 col-md-8 mb-4 mb-lg-0">
            <img src="{{ item.image.url }}" class="w-100 shadow-1-strong rounded mb-4">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}