html {
    position: relative;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: linear-gradient( rgba(28, 25, 25, 80%), rgba(0, 0, 0, 0.5) ), url('../media/images/body.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.container {
    padding-bottom: -90px;
}

footer {
	position: absolute;
    bottom: 0px;
    width: 100%;
	left: 0;
    background-color: #212529!important;
}

strong, h5, ul, li, a {
    color: #ffc107!important;
    background-color: #212529!important;
}

.card {
    border: 6px solid #000;
    border-radius: 25px;
}

.navbar {
    color: #ffc107!important;
    background-color: #212529!important;
}